<div style='border-left: 4px solid #4CAF50; padding: 8px 12px; width: 40vw;margin-bottom:1vh;'>
    <p><strong>{app[name]}</strong> {package[0][versionName]}<br>
    <i style="color: gray">{app[packageName]}</i></p>
    {app[description]}
    <p><a href="{app[webSite]}" target="_blank" style='color:#fff;'>website</a> |
    <a href="{app[sourceCode]}" target="_blank" style='color:#fff;'>code</a> |
    <a href="{app[issueTracker]}" target="_blank" style='color:#fff;'>issues</a></p>
</div>
